@use "../elements/news-item";

.post-type-archive {
  --archive-filter-background: var(--color-background-card);
  --archive-filter-padding: 36px 30px;
  --c-field-background-color: white;
  --c-field-label-color: black;
  --c-button-primary-color: var(--color-base);
  --c-button-primary-color-contrasting: white;

  .s-archive-filter {
    background-color: var(--archive-filter-background);
    border-radius: var(--border-radius-small);
    margin-bottom: calc(var(--base, 8px) * 5);
    padding: var(--archive-filter-padding);

    .c-field {
      &__label {
        color: var(--c-field-label-color);
        font-size: var(--font-size-label);
        text-transform: none;
      }
      &__inner {
        border-radius: var(--border-radius-xsmall);
      }
    }
  }

  .c-pagination {
    justify-content: flex-start !important;
  }

  .s-news-archive,
  .s-nyheter-archive {
    --archive-filter-background: var(--color-darjnalen-light-3);
    --c-button-primary-color: var(--color-darjnalen-dark-3);
    --c-button-primary-color-contrasting: var(--color-darjnalen-light-4);

    @include news-item.base();

    .c-newsitem {
      &:last-child {
        border-bottom: 0;
        padding-bottom: 0;
      }
    }

    & > .c-element > .c-element:has(.c-pagination) {
      border-top: news-item.item-border();
      margin-top: calc(var(--base, 8px) * 2);
    }
  }

  .s-lediga-jobb-archive {
    --archive-filter-background: var(--color-darjnalen-light-3);
    --c-button-primary-color: var(--color-darjnalen-dark-3);
    --c-button-primary-color-contrasting: var(--color-darjnalen-light-4);
    --c-table-background-color-odd: color-mix(
      in srgb,
      var(--color-darjnalen-light-4) 40%,
      white 60%
    );
    --c-table-background-color-even: var(--color-darjnalen-light-3);
  }

  .s-municipal_event-archive {
    --archive-filter-background: var(--color-paren-light-3);
    --c-button-primary-color: var(--color-paren-dark-3);
    --c-button-primary-color-contrasting: var(--color-paren-light-4);
  }
}
