.c-footer {
  h2 {
    font-size: var(--font-size-heading-3);
  }

  .footer-icons {
    .o-container {
      display: flex;
      flex-direction: row;
      gap: var(--base, 10px);
    }
  }
  [class*="s-sidebar-footer-area"] {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin: 0;
        padding: 0;
        list-style: none;
      }
    }
  }
}
