@layer theme {
  .o-container > .u-margin__bottom--12 {
    margin-bottom: calc(var(--base, 8px) * 4) !important;
  }

  #sidebar-content-area-bottom:has(> *) {
    margin-bottom: calc(var(--base, 8px) * 4) !important;
  }

  #sidebar-content-area-bottom:not(:has(> *)) {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
  }
}
