html,
body {
  font-family: var(--font-family-base);
}

a,
.link {
  color: var(--color-black);
  &:hover {
    color: var(--color-black);
  }
  &:visited {
    color: var(--color-black);

    &:hover {
      color: var(--color-black);
    }
  }
}
