// Custom
:root {
  --border-radius-xsmall: 5px;
  --border-radius-small: 8px;

  /* Blabara */
  --color-blabara-light-4: #ecf1f6;

  /* Branbara */
  --color-branbara-dark-3: #640b30;
  --color-branbara-dark-2: #8f214c;
  --color-branbara-dark-1: #a93360;
  --color-branbara-base: #c64877;
  --color-branbara-light-1: #d37b97;
  --color-branbara-light-2: #e1a9bb;
  --color-branbara-light-3: #f1d6de;
  --color-branbara-light-4: #f9eef2;

  /* Darjnalen */
  --color-darjnalen-dark-3: #233b1f;
  --color-darjnalen-dark-2: #2b512b;
  --color-darjnalen-dark-1: #2b6933;
  --color-darjnalen-base: #288138;
  --color-darjnalen-light-1: #6b9a5e;
  --color-darjnalen-light-2: #a0b990;
  --color-darjnalen-light-3: #d1dbc8;
  --color-darjnalen-light-4: #edf1e9;

  /* Paren */
  --color-paren-dark-3: #5f3a0a;
  --color-paren-dark-2: #764a0f;
  --color-paren-dark-1: #8d5913;
  --color-paren-base: #a46914;
  --color-paren-light-1: #ba8a48;
  --color-paren-light-2: #d0ae81;
  --color-paren-light-3: #e7d6bf;
  --color-paren-light-4: #f6efe5;

  /* Snattren */
  --color-snattren-dark-3: #642005;
  --color-snattren-dark-2: #8f3010;
  --color-snattren-dark-1: #ad3c15;
  --color-snattren-base: #cc4917;
  --color-snattren-light-1: #d97846;
  --color-snattren-light-2: #e7a781;
  --color-snattren-light-3: #f3d4c0;
  --color-snattren-light-4: #faeee6;

  /* Stain */
  --color-stain-dark-3: #000000;
  --color-stain-dark-2: #3d3d3c;
  --color-stain-dark-1: #575756;
  --color-stain-base: #777675;
  --color-stain-light-1: #9d9d9c;
  --color-stain-light-2: #d0d0d0;
  --color-stain-light-3: #e3e3e3;
  --color-stain-light-4: #ffffff;

  /* Viola */
  --color-viola-dark-3: #4c0e37;
  --color-viola-dark-2: #6e1b58;
  --color-viola-dark-1: #85236e;
  --color-viola-base: #9d2c87;
  --color-viola-light-1: #b263a4;
  --color-viola-light-2: #ca9ac6;
  --color-viola-light-3: #e3cee5;
  --color-viola-light-4: #f4ebf6;

  --font-size-body: 18px;
  --font-size-small: 16px;
  --font-size-lead: 22px;
  --font-size-label: 16px;
  --font-size-table-heading: 16px;
  --font-size-table: 14px;
  --font-size-link: 18px;
  --font-size-button: 16px;
  --font-size-heading-1: 50px;
  --font-size-heading-2: 32px;
  --font-size-heading-3: 22px;
  --font-size-heading-4: 18px;

  --transition-duration-fast: 0.2s;
  --transition-duration-medium: 0.3s;
  --transition-duration-slow: 0.5s;
}

// Municipio overrides
:root {
  --page-title-color: var(--color-stain-dark-3);
}
