:root {
  --color-darjnalen-dark-1: #2b6933;
  --color-darjnalen-dark-2: #2b512b;
  --color-darjnalen-dark-3: #233b1f;
  --color-darjnalen-light-2: #a0b990;
  --color-darjnalen-light-3: #d1dbc8;
  --color-darjnalen-light-4: #edf1e9;

  --color-paren-dark-2: #764a0f;
  --color-paren-dark-3: #5f3a0a;
  --color-paren-light-1: #ba8a48;
  --color-paren-light-3: #e7d6bf;
  --color-paren-light-4: #f6efe5;

  --transition-duration-fast: 0.2s;
  --transition-duration-medium: 0.3s;
  --transition-duration-slow: 0.5s;
}
