.c-simpleview-event-card {
  .c-datebadge.c-card__datebadge.c-datebadge--md.c-datebadge--light {
    left: 29px;
    top: 0;

    .c-datebadge__container {
      flex-direction: column-reverse;
      gap: 4px;
      align-items: flex-start;
      border-radius: 0 0 4px 4px;
      background-color: black;
      color: white;
      padding: 8px 12px;

      .c-typography {
        border-radius: none;
        background-color: transparent;
        padding: 0;
      }

      .c-datebadge__date {
        font-size: 18px;
        font-weight: 700;
      }

      .c-datebadge__month {
        font-size: 18px;
        font-weight: 700;
      }
    }
  }
}

.wp-singular.archive-simpleview {
  .c-simpleview-event-single__hero {
    max-width: var(--container-width-content, calc(var(--base, 8px) * 76));
    border-radius: 0;
    .c-card {
      &__image-container {
        flex-basis: 100%;
        border-radius: 0;
      }
      &__body {
        flex-basis: 0;
        padding: 0;
      }
    }
  }
}
