.modularity-mod-posts {
  --tag-background: var(--c-button-primary-color, #333);
  --tag-color: var(--c-button-primary-color-contrasting, #fff);
  --tag-border-radius: var(--radius-sm, 0.25rem);

  .c-newsitem {
    --c-newsitem-heading-color: black;
    row-gap: calc(var(--base, 8px));

    .c-newsitem__header {
      border-bottom: 0;
    }

    .c-newsitem__main-left {
      p {
        display: box;
        display: -webkit-box;
        line-clamp: 4;
        -webkit-line-clamp: 4;
        box-orient: vertical;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }

    .c-newsitem__heading {
      text-decoration: underline;
    }

    .c-newsitem__header {
      justify-content: flex-start;
      gap: var(--base, 1rem);

      .c-tags__tag {
        background: var(--tag-background);
        border-radius: var(--tag-border-radius);
        color: var(--tag-color);
        display: inline-block;
        padding: 0.25rem 0.5rem;
      }
    }
  }
}
