.modularity-mod-service-info .mod-service-info {
  --item-background-color: var(--color-darjnalen-light-4);
  --item-background-color-hover: var(--color-darjnalen-light-3);
  --item-border-radius: var(--border-radius-small);
  --icon-border-radius: var(--border-radius-small);
  --item-color: var(--color-stain-dark-3);
  --date-color: var(--color-stain-dark-3);
  --date-font-size: var(--font-size-small);
  --title-font-size: var(--font-size-heading-4);
  --title-font-weight: 700;
  --icon-color: var(--color-darjnalen-dark-3);
}
