.modularity-mod-toc .c-toc {
  --toc-link-color: var(--color-stain-dark-3);
  --toc-link-color-hover: var(--color-stain-dark-3);
  --toc-track-indicator: var(--color-darjnalen-dark-1);
  --toc-track-color: var(--color-darjnalen-light-3);
  --toc-link-decoration: underline;
  --toc-link-font-size: var(--font-size-link);
  --toc-link-font-weight: var(--font-weight-heading, 600);
}
